.App {
  display: flex;
  padding-left: 52px;
  padding-top: 25px;
}
.Width {
  width: 100%;
  height: auto;
}
li {
  list-style: none;
}
.d-flex {
  flex-wrap: wrap;
  display: flex;
}
.MuiCardActions-root {
  justify-content: center;
}
.border-bottom {
  border-bottom: double;
}
.PrdSec {
  padding-bottom: 50px;
}

.quantity-width {
  width: 50px;
}

.nav-icons {
  position: relative;
}

.nav-icons::before {
  content: "";
  position: absolute;
  background: #e7e7e7 none repeat scroll 0 0;
  top: 50%;
  left: 0;
  height: 30px;
  width: 1px;
  margin-top: -15px;
}
.nav-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 17px;
}
.nav-icons ul  li{
 padding-right: 10px;
 color: #e7e7e7;
}
.nav-icons ul  a{
  color: #e7e7e7;
  size: 20px;
  text-decoration: none;

 }

.nav-icons ul .nav-item .dropdown-toggle::after {
  display: none;
}

.nav-icons ul .nav-item:hover .dropdown-menu {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.nav-icons ul .nav-item .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.nav-icons ul .nav-item .nav-link .badge {
  background: rgb(247, 244, 244);
color: rgb(41, 41, 19);
position: absolute;
border-radius: 50px;
min-width: 15px;
height: 15px;
font-size: 15px;
padding: 0px;
right: -11px;
line-height: 15px;
top: -4px;
}

.nav-icons ul .nav-item .nav-link .img-profile {
  width: 30px;
  height: 30px;
}

.nav-icons ul .nav-item .nav-link .fa-bell {
  padding-top: 10px;
  color: #666666;
}
.nav-icons ul .nav-item .nav-link .fa-bell #login .sb-topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 39px;
  padding-bottom: 8px;
  background: #e8e8e8;
  border: none;
}
.nav-icons ul .nav-item .nav-link .fa-bell #login .sb-topnav .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  padding: 6px 1rem;
  font-size: 0.85rem;
  white-space: normal;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  line-height: 1.3rem;
  font-weight: 400;
  color: #212529;
}

.nav-icons ul .nav-item .nav-link .fa-bell #login .sb-topnav .navbar-nav {
  list-style: none;
}

.nav-icons ul .nav-item .nav-link .fa-bell #login .sb-topnav .navbar-nav .nav-item .dropdown-toggle::after {
  display: none;
}

.nav-icons ul .nav-item .nav-link .fa-bell #login .sb-topnav .navbar-nav .nav-item:hover .dropdown-menu {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.nav-icons ul .nav-item .nav-link .fa-bell #login .sb-topnav .navbar-nav .nav-item .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.nav-icons ul .nav-item .nav-link .fa-bell #login .sb-topnav .navbar-nav .nav-item .nav-link .badge {
  background: rgb(247, 244, 244);
color: rgb(41, 41, 19);
position: absolute;
border-radius: 50px;
min-width: 15px;
height: 15px;
font-size: 15px;
padding: 0px;
right: -11px;
line-height: 15px;
top: -4px;
}


.nav-icons ul .nav-item .nav-link .fa-bell #login .sb-topnav .navbar-nav .nav-item .nav-link .fa-bell {
  padding-top: 10px;
}

 .nav-icons ul .nav-item .nav-link .fa-bell #login .sb-topnav .navbar-nav .nav-item .dropdown-list {
  padding: 0;
  border: none;
  overflow: hidden;
  width: 20rem !important;
}

.nav-item .dropdown-list .dropdown-item {
  white-space: normal;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  line-height: 1.3rem;
}



 .nav-item .dropdown-menu {
  padding: 0;
  border: none;
  overflow: hidden;
  width: 25rem !important;
  display: none;
  background: #ffffff;
  border-radius: 0px;
  margin: 0;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1) !important;
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}



.dropdown-menu .dropdown-item {
  padding: 6px 1rem;
  font-size: 0.85rem;
  white-space: normal;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  line-height: 1.3rem;
  font-weight: 400;
  color: #212529;
}

body{margin-top:20px;
  background:#eee;
  }
  
  /*panel*/
  .panel {
      border: none;
      box-shadow: none;
  }
  .padding-20px{
    padding-top:20px
  }
 
  .panel-heading {
      border-color:#eff2f7 ;
      font-size: 16px;
      font-weight: 300;
  }
  
  .panel-title {
      color: #2A3542;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 0;
      margin-top: 0;
      font-family: 'Open Sans', sans-serif;
  }
  
  /*product list*/
  
  .prod-cat li a{
      border-bottom: 1px dashed #d9d9d9;
  }
  
  .prod-cat li a {
      color: #3b3b3b;
  }
  
  .prod-cat li ul {
      margin-left: 30px;
  }
  
  .prod-cat li ul li a{
      border-bottom:none;
  }
  .prod-cat li ul li a:hover,.prod-cat li ul li a:focus, .prod-cat li ul li.active a , .prod-cat li a:hover,.prod-cat li a:focus, .prod-cat li a.active{
      background: none;
      color: #ff7261;
  }
  
  .pro-lab{
      margin-right: 20px;
      font-weight: normal;
  }
  
  .pro-sort {
      padding-right: 20px;
      float: left;
  }
  
  .pro-page-list {
      margin: 5px 0 0 0;
  }
  
  .product-list img{
      width: 100%;
      border-radius: 4px 4px 0 0;
      -webkit-border-radius: 4px 4px 0 0;
  }
  
  .product-list .pro-img-box {
      position: relative;
  }
  .adtocart {
      background: #fc5959;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      color: #fff;
      display: inline-block;
      text-align: center;
      border: 3px solid #fff;
      left: 45%;
      bottom: -25px;
      position: absolute;
  }
  
  .adtocart i{
      color: #fff;
      font-size: 25px;
      line-height: 42px;
  }
  
  .pro-title {
      color: #5A5A5A;
      display: inline-block;
      margin-top: 20px;
      font-size: 16px;
  }
  
  .product-list .price {
      color:#fc5959 ;
      font-size: 15px;
  }
  
  .pro-img-details {
      margin-left: -15px;
  }
  
  .pro-img-details img {
      width: 100%;
  }
  
  .pro-d-title {
      font-size: 16px;
      margin-top: 0;
  }
  
  .product_meta {
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      padding: 10px 0;
      margin: 15px 0;
  }
  
  .product_meta span {
      display: block;
      margin-bottom: 10px;
  }
  .product_meta a, .pro-price{
      color:#fc5959 ;
  }
  
  .pro-price, .amount-old {
      font-size: 18px;
      padding: 0 10px;
  }
  
  .amount-old {
      text-decoration: line-through;
  }
  
  .quantity {
      width: 120px;
  }
  
  .pro-img-list {
      margin: 10px 0 0 -15px;
      width: 100%;
      display: inline-block;
  }
  
  .pro-img-list a {
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
  }
  
  .pro-d-head {
      font-size: 18px;
      font-weight: 300;
  }